/* Color values used */
:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.bg-pattern {
    width: 100vw;
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.search-box {
    width: 25%;
    height: 44px;
    margin-top: -298px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-search {
    width: 3%;
    height: 46px;
    margin-top: -298px;
    border-radius: 0px 10px 10px 0px;
    background-color: var(--very-dark-gray);
    border: none;
    cursor: pointer;
}
:focus {
    outline: none!important;
}

.text-title {
    text-align: center;
    margin-top: -228px;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 400;
}

::placeholder {
    color: var(--dark-gray);
}

input[type=text]
{
    font-family: 'Rubik', sans-serif;
    color: black;
    padding-left: 16px;
    font-size: 14px;
}

#mapid {
    display: flex;
    flex-flow: column; 
    flex: 1;
    height: 65vh;
    position: relative;
    margin-top: 190px; 
    z-index: 1;
}

.ip-details-container {
    position: absolute;
    margin-left: 15vw;
    margin-top: 100px;
    width: 70vw;
    height: 140px;
    z-index: 2;
    background-color: white;
    border-radius: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    -webkit-box-shadow: -2px 6px 28px 5px rgba(43,43,43,0.20); 
    box-shadow: -2px 6px 28px 5px rgba(43,43,43,0.25);
}

.details-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    outline: none;
    border: none;
}

.details-box-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
}

.details-box-header-text {
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.details-box-result {
    font-weight: 700;
    font-size: 24px;
    margin-top: 10px;
}

hr{
    border-right: 0.01px solid var(--dark-gray);
    height: 4vw;
}

@media only screen and (max-width: 600px) {

    body {
        min-width: 375px;
        margin: 0;
        font-family: 'Rubik', sans-serif;
    }

    .bg-pattern {
        width: 100vw;
        height: 40vh;
    }

    .text-title {
        text-align: center;
        margin-top: -248px;
        font-family: 'Rubik', sans-serif;
        color: white;
        font-size: 24px;
        font-weight: 400;
    }

    .search-box {
        width: 72%;
        height: 44px;
        margin-top: -348px;
        border-radius: 10px 0px 0px 10px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .btn-search {
        width: 12%;
        height: 48px;
        margin-top: -348px;
        border-radius: 0px 10px 10px 0px;
        background-color: var(--very-dark-gray);
        border: none;
        cursor: pointer;
    }

    .ip-details-container {
        position: absolute;
        margin: 5vw;
        margin-top: 64px;
        width: 90vw;
        height: 250px;
        z-index: 2;
        background-color: white;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
        -webkit-box-shadow: -2px 6px 28px 5px rgba(43,43,43,0.20);
        box-shadow: -2px 6px 28px 5px rgba(43,43,43,0.25);
    }

    .details-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        outline: none;
        border: none;
    }

    .details-box-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .details-box-header-text {
        color: var(--dark-gray);
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 1.5px;
    }

    .details-box-result {
        font-weight: 700;
        font-size: 18px;
        margin-top: 8px;
    }

    hr {
        display: none;
    }

}

